.fill-div{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.container {
    background-color: #17181a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container .buttons-div {
    background-color: #17181a;
    width: 275px;
    height: 540px;
    position: relative;
}

.container .rectangle {
    position: absolute;
    width: 115px;
    height: 50px;
    top: 462px;
    left: 12px;
    background-color: #303136;
    border-radius: 10px;
    border: 2px solid;
}

.container .rectangle-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 462px;
    left: 142px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 267px;
    left: 207px;
    background-color: #005db2;
    border-radius: 10px;
    border: 1px solid;
    border-color: #303136;
}

.container .rectangle-4 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 202px;
    left: 207px;
    background-color: #005db2;
    border-radius: 10px;
    border: 1px solid;
    border-color: #303136;
}

.container .rectangle-5 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 202px;
    left: 142px;
    background-color: #005db2;
    border-radius: 10px;
    border: 1px solid;
    border-color: #303136;
}

.container .rectangle-6 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 202px;
    left: 77px;
    background-color: #5e6061;
    border-radius: 10px;
    border: 1px solid;
    border-color: #303136;
}

.container .rectangle-7 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 202px;
    left: 12px;
    background-color: #5e6061;
    border-radius: 10px;
    border: 1px solid;
    border-color: #303136;
}

.container .rectangle-8 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 267px;
    left: 12px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-9 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 267px;
    left: 77px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-10 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 332px;
    left: 12px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-11 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 332px;
    left: 77px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-12 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 267px;
    left: 142px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-13 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 332px;
    left: 142px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-14 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 397px;
    left: 142px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-15 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 397px;
    left: 77px;
    background-color: #303136;
    border-radius: 10px;
    border: 1px solid;
}

.container .rectangle-16 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 397px;
  left: 12px;
  background-color: #303136;
  border-radius: 10px;
  border: 1px solid;
}

.container .rectangle-17 {
  position: absolute;
  width: 50px;
  height: 80px;
  top: 332px;
  left: 207px;
  background-color: #005db2;
  border-radius: 10px;
}

.container .rectangle-18 {
    position: absolute;
    width: 50px;
    height: 85px;
    top: 427px;
    left: 207px;
    background-color: #1991ff;
    border-radius: 10px;
}

.container .rectangle-19 {
    position: absolute;
    width: 275px;
    height: 193px;
    top: 0;
    left: 0;
    background-color: #17181a;
}
