*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container{
    width: 275px;
    height: 540px;
    border: 1px solid black;
    margin: 10% auto;
    border-radius: 10px;
    
}

.display{
    width: 275px;
    height: 193px;
}

.buttons-div{
    width: 275px;
    height: 347px;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.gird3x5{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-grow: 1;
    column-gap: 15px;
    row-gap: 15px;
}

.gird1x4{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.buttons-50x50{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.buttons-50x85{
    width: 50px;
    height: 85px;
    border-radius: 10px;
}

.button-special-number0{
    grid-column: span 2;
    width: 115px;
    height: 50px;
    border-radius: 10px;
}

.screen{
    width: 274px;
    height: 193px;
    border-radius: 10px;
}